<h2 appColor>home page </h2>
<hr>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Aliquam asperiores consectetur delectus, dolor dolorem ducimus eveniet excepturi
  , fugit iure laboriosam minima necessitatibus nostrum optio pariatur praesentium
  qui totam veritatis, vero.</span><span>Accusamus alias aliquam
  asperiores aspernatur autem debitis earum eos, error id ipsa itaque labore l
  aboriosam, molestiae nam officiis porro quasi repellat, sapiente similique sint suscipit tot
  am ullam velit veritatis vero!</span><span>Dolorem dolores doloribus ducimus id illum impedit
  ipsum iste iusto minus nemo nisi nostrum provident quos reiciendis sit, tempore vel veritatis, volupt
  as voluptates, voluptatum? Aliquam fugit libero quaerat qui vel.</span><span>Alias aperiam architecto beat
  ae blanditiis commodi doloribus enim id incidunt itaque maxime, neque nihil perferendis quisquam quod recu
  sandae, repudiandae rerum sed suscipit tempora unde veritatis vitae voluptate voluptatum. Culpa, eius.</span><span>A
  ccusamus assumenda at, blanditiis cum dignissimos distinctio eveniet ex exercitationem iusto nesci
  unt odio officiis quis quod ratione repellendus repudiandae sunt. Accusantium amet fugit necessitat
  ibus officia perferendis perspiciatis provident. Culpa, quod.</span><span>Accusantium alias consecte
  tur distinctio doloremque dolorum explicabo fugit laudantium, nam nostrum odio quisquam, sapiente sin
  t vero. Debitis iste, non perferendis possimus veritatis voluptates! Corporis dolorum magni nisi, offi
  cia optio pariatur.</span><span>Accusantium animi architecto assumenda deleniti dolorem doloribus earum
  laudantium molestias natus perferendis quaerat, quam qui sequi sit, veritatis. Beatae blanditiis cumque d
  icta dolor eligendi eos expedita facilis repudiandae sunt temporibus?</span><span>Accusamus accusantium an
  imi aperiam aut delectus dolorum exercitationem fugit modi nobis quod reiciendis, sapiente soluta tempor
  e velit voluptates! Ipsa, ullam, voluptatibus? Dolore harum ipsum perferendis porro, provident velit volu
  ptatem voluptates!</span><span>Atque consectetur cumque facere harum in ipsam magni mollitia nesciunt nos
  trum officiis pariatur, possimus provident quasi quia rerum sequi vero voluptate? Amet atque corporis eos
  ex ipsam possimus recusandae soluta?</span><span>A delectus distinctio dolore, earum error est incidunt n
  esciunt placeat quam repellendus! Cumque ducimus expedita ipsam maxime pariatur quos saepe similique ulla
  m veniam vitae. Itaque, quo, reiciendis. Deleniti, laudantium molestias.</span></p>
<hr>
<button class="btn btn-primary" (click)="openEmplsPage()">Open Employees page</button>
<hr>
<button class="btn btn-success" (click)="changeAuthStatus('login')" >Log In</button>
<button class="btn btn-danger"  (click)="changeAuthStatus('logout')" >Log Out</button>

